<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.mapper.EnterpriseMapper">                                                                                                                               

	<select id="findEnterpriseById"  parameterType="int" resultType="com.neusoft.po.Enterprise">
		select * from enterprise where qid=#{qid}
	</select>

	<select id="updateEnterprise"  parameterType="com.neusoft.po.Enterprise">
		update enterprise set name=#{name},videopath=#{videopath},introduction=#{introduction},text=#{text} where qid=#{qid}
	</select>
	
</mapper>