<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.mapper.FreelistenMapper">                                                                                                                               

	<select id="findAllFreelisten" parameterType="com.neusoft.tools.Page" resultType="com.neusoft.po.Freelisten">
		select * from freelisten where qid=#{id} limit#{minNum},#{maxNum} 
	</select>
	
	<select id="findFreelistenById"  parameterType="int" resultType="com.neusoft.po.Freelisten">
		select * from freelisten where fid=#{fid}
	</select>
	
	<select id="findFreelistenByBid"  parameterType="com.neusoft.tools.Page" resultType="com.neusoft.po.Freelisten">
		select * from freelisten where bid=#{id} limit#{minNum},#{maxNum} 
	</select>
	
	<delete id="deleteFreelistenById"  parameterType="int">
		delete from freelisten where fid=#{fid}
	</delete>
	

	<update id="updateFreelisten"  parameterType="com.neusoft.po.Freelisten">
		update freelisten set fid=#{fid},title=#{title},imgurl=#{imgurl},fdesc=#{fdesc},status=#{status},qid=#{qid},bid=#{bid},pubtime=#{pubtime} where fid=#{fid}
	</update>
	
	
	
	<insert id="saveFreelisten"  parameterType="com.neusoft.po.Freelisten">
		insert into freelisten(fid,title,imgurl,fdesc,status,qid,bid,pubtime) values(#{fid},#{title},#{imgurl},#{fdesc},#{status},#{qid},#{bid},#{pubtime})
	</insert>
	
	
	<select id="findCount" parameterType="int" resultType="int">
	SELECT COUNT(*) FROM branch where qid=#{qid}
	</select>
	
	<select id="findCountByBid" parameterType="int" resultType="int">
	SELECT COUNT(*) FROM branch where bid=#{bid}
	</select>
	
</mapper>