<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.mapper.FreelistenbookMapper">                                                                                                                               

	<select id="findAllFreelistenbook" parameterType="int" resultType="com.neusoft.po.Freelistenbook">
		select * from freelistenbook where qid=#{qid}
	</select>
	
	<select id="findFreelistenbook"  parameterType="Map" resultType="com.neusoft.po.Freelistenbook">
		select * from freelistenbook where qid=#{qid}
		<if test="cname != null">
			and cname like '%${cname}%'
		</if>
		<if test="fid != null">
			and fid = #{fid}
		</if>
		<if test="starttime != null">
			and booktime &gt;= '%${beginDate}%'
		</if>
		<if test="endtime != null">
			and booktime &lt;= '%${endDate}%'
		</if>		
	</select>

	<update id="updateFreelistenbook" parameterType="com.neusoft.po.Freelistenbook">
			update freelistenbook set status=#{status} where id=#{id}
	</update>
	
	<insert id="saveBranch"  parameterType="com.neusoft.po.Branch">
		insert into branch(fid,cname,tel,booktime,status,comment,openid) values(#{fid},#{cname},#{tel},#{booktime},#{status},#{comment},#{openid})
	</insert>
	
</mapper>