<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.mapper.FreelistenMapper">                                                                                                                               

	<select id="findAllFreelisten" parameterType="int" resultType="com.neusoft.po.Freelisten">
		select * from freelisten where qid=#{qid} 
	</select>
	
	<select id="findFreelistenById"  parameterType="int" resultType="com.neusoft.po.Freelisten">
		select * from freelisten where fid=#{fid}
	</select>
	
	<select id="findFreelistenByBid"  parameterType="int" resultType="com.neusoft.po.Freelisten">
		select * from freelisten where bid=#{bid}
	</select>
	
	<delete id="deleteFreelistenById"  parameterType="int">
		delete from freelisten where fid=#{fid}
	</delete>
	
	<update id="updateFreelisten"  parameterType="com.neusoft.po.Freelisten">
		update freelisten 
		<trim prefix="set" suffixOverrides=",">
  			<if test="title!=null">title=#{title},</if>
  			<if test="imgurl!=null">imgurl=#{imgurl},</if>
  			<if test="fdesc!=null">fdesc=#{fdesc},</if>
  			<if test="status!=null">status=#{status},</if>
  			<if test="qid!=null">qid=#{qid},</if>
  			<if test="bid!=null">bid=#{bid},</if>
  			<if test="pubtime!=null">pubtime=#{pubtime},</if>
  		</trim>
		where fid=#{fid}
	</update>
	
	<insert id="saveFreelisten"  parameterType="com.neusoft.po.Freelisten">
		insert into freelisten(title,imgurl,fdesc,status,qid,bid,pubtime) values(#{title},#{imgurl},#{fdesc},#{status},#{qid},#{bid},#{pubtime})
	</insert>
	
</mapper>