<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.mapper.OrderMapper">                                                                                                                               

	<select id="findAllOrder"  parameterType="int" resultType="com.neusoft.po.Order">
		select * from order where qid=#{qid}
	</select>
	
	<select id="findOrder"  parameterType="Map" resultType="com.neusoft.po.Order">
		select * from order where qid=#{qid}
		<if test="oid != null">
			and oid=#{oid}
		</if>
		<if test="status != null">
			and status like '%${status}%'
		</if>
		<if test="starttime != null">
			and ordertime &gt;='%${beginDate}%'
		</if>
		<if test="endtime != null">
			and ordertime &lt;= '%${endDate}%'
		</if>		
	</select>
	
	<update id="updateOrder" parameterType="com.neusoft.po.Order">
			update order set status=#{status} where oid=#{oid}
	</update>
	
	
	
</mapper>